<!DOCTYPE html >
<html xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <link rel="stylesheet" href="stylesheets/paymentSuccess.css">
<head>
<title>
</title>

</head>

<body>


    <section class="c-container">
  
        <div class="o-circle c-container__circle o-circle__sign--success">
          <div class="o-circle__sign"></div>  
        </div>   
        
          
        
      </section>
      
      
      


</body>
</html>
